<%= render "shared/navbar_global" %>

<div class="container-l">

  <h2>Nouvelle session</h2>

  
    <div class="cards_session">
      <%= render "shared/card_solo_session"%>
      <%= render "shared/card_multi_session"%>
    </div>
  


    <h2>Mes sessions précédentes</h2>
    <% @last_sessions.each do |session| %>
        <% session.session_exercises.each do |exercise| %>
         <%= exercise.id %>
        <% end %>
        <%= session.total_time%>
        <%= session.date%>
        <%= session.difficulty%>
        <%= session.user.first_name%>
        <br>
    <% end %>

    <h2>Mes favoris</h2>

    <% @fav_sessions.each do |session| %>
        <% session.session_exercises.each do |exercise| %>
         <%= exercise.id %>
        <% end %>
        <%= session.total_time%>
        <%= session.date%>
        <%= session.difficulty%>
        <%= session.user.first_name%>
        <br>
    <% end %>
</div>
