<%= render "shared/navbar_global" %>
<div class="container-l bg-container m-t-40">
  <h2>SESSION COLLECTIVE</h2>
    <div class="flex-b-c">
      <!--**********************************************************************-->
      <div class="left-part">
        <h3>Invitez vos amis</h3>
        <div class="flex-b-c cercles participations">


          <div class="cercle-bleu border-bleu avat_particip slot-available">
            <div class="aboslute">
              <i class="fas fa-user-plus"></i>
            </div>
          </div>
          <div class="cercle-bleu border-bleu avat_particip slot-available">
            <div class="aboslute">
              <i class="fas fa-user-plus"></i>
            </div>
          </div>
          <div class="cercle-bleu border-bleu avat_particip slot-available">
            <div class="aboslute">
              <i class="fas fa-user-plus"></i>
            </div>
          </div>
          <div class="cercle-bleu border-bleu avat_particip slot-available">
            <div class="aboslute">
              <i class="fas fa-user-plus"></i>
            </div>
          </div>
        </div>
        <div class="frinds-container">
          <div>
            <% @friends.each do |friend| %>
              <div class="flex-b-c card_invite_session">
               <%= cl_image_tag User.find(friend).avatar.key, width: 120, height: 120, crop: :fill, class: "photo invitation-avatar" %>
                <p class="flex-g-1 p-l-20 nunito"> <%= User.find(friend).first_name %> <%= User.find(friend).last_name %> </p>
                <button data-id="<%= friend %>" class="btn-2 invitation-btn">Inviter</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <!--**********************************************************************-->
      <div class="right-part">
        <h3 class="p-b-20">Fixez vos objectifs</h3>

          <%= simple_form_for(@session) do |f| %>
            <div class="flex-b-e" data-controller="radio-button">
              <%= f.input :total_time,
                          label: "Temps total",
                          as: :range,
                          required: true,
                          input_html: {
                            max: 60,
                            step: 10,
                            value: 30,
                            class: "custom-range",
                            data: {target: "radio-button.input"}

                          } %>
              <span class="range-slider__value"><input type="text" id="textInput" value="30" class="time-input">min</span>
            </div>
            <div data-controller="radio-button">
              <%= f.input :difficulty,
                          label: "Votre niveau",
                          label_method: ->(item) {tag.span item, class: "d-none"},

                          input_html: {
                            hidden: true,
                            data: {target: "radio-button.input"}
                          },
                          collection: Session::DIFFICULTY,
                          wrapper: :vertical_collection_inline %>
              <div class="flex-b-c">
                <div class="session-level" data-action="click->radio-button#inputSelect" data-target='radio-button.levelBtn' data-id="1">
                  <div class="barre-difficulty"></div>
                  <p>DÉBUTANT</p>
                </div>
                <div class="session-level" data-action="click->radio-button#inputSelect" data-target='radio-button.levelBtn' data-id="2">
                  <div class="barre-difficulty"></div>
                  <p>INTERMÉDIAIRE</p>
                </div>
                <div class="session-level" data-action="click->radio-button#inputSelect" data-target='radio-button.levelBtn' data-id="3">
                  <div class="barre-difficulty"></div>
                  <p>AVANCÉ</p>
                </div>
                <div class="session-level" data-action="click->radio-button#inputSelect" data-target='radio-button.levelBtn' data-id="4">
                  <div class="barre-difficulty"></div>
                  <p>CONFIRMÉ</p>
                </div>
              </div>
            </div>

            <div data-controller="radio-button">
              <%= f.input :body_area_id,
                          label: "Votre objectif",
                          label_method: ->(item) {tag.span item, class: "d-none"},

                          input_html: {
                            hidden: true,
                            vacances: 'geniales!!!!',
                            data: {target: "radio-button.input"}
                          },
                          collection: BodyArea::BODY_AREAS,
                          wrapper: :vertical_collection_inline %>
              <div class="flex-b-c">
                <div data-action="click->radio-button#inputSelecte" data-target='radio-button.bodyBtn' data-id="1">
                  <div class="card-body-area gen">
                    <div class="white-box">
                      <p>Général</p>
                    </div>
                  </div>
                </div>
                <div data-action="click->radio-button#inputSelecte" data-target='radio-button.bodyBtn' data-id="2">
                  <div class="card-body-area hdc">
                    <div class="white-box">
                      <p>Haut du corps</p>
                    </div>
                  </div>
                </div>
                <div data-action="click->radio-button#inputSelecte" data-target='radio-button.bodyBtn' data-id="3">
                  <div class="card-body-area bdc">
                    <div class="white-box">
                      <p>Bas du corps</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%= f.button :submit, "créer la session", class: "btn-1 btn-submit-place" %>
          <% end %>
        </div>
      </div>
  <div class="bottom-part">
    <%= link_to "Annuler", sessions_choice_path, class: "btn-2"  %>
    <%#= link_to "Lancer la session", my_session_path(Session.last), class: "btn-1" %>
  </div>
</div>
