<%= render "shared/navbar_global" %>
<div class="container-l container-white">

  <div class="search-btn">
  <%= form_tag users_path, method: :get do %>
  <%= text_field_tag :requete,
                      params[:requete],
                      placeholder: "Rechercher des amis",
                      class: "form-control"
    %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary d-none" %>
  <% end %>
  <div class="results-search">
    <h2>Résultats pour : <span class="nunito"><%= params[:requete] %></span></h2>
  </div>

  <div class="user-list-index">
    <% @users.each do |user| %>
      <div class="card-amis" data-recipientuser="<%= user.id %>" data-senderuser="<%= current_user.id %>">
        <%= link_to user_path(user) do %>
          <%= user.id %>
          <%= current_user.id %>
          <%= cl_image_tag user.avatar.key %> <%= user.first_name %>
          <%= user.last_name  %>
        <% end %>
        <%=  %>
        <%#= link_to "Demande d'ami", friendships_path(params: { sender_id: current_user.id, recipient_id: user.id, status:"pending" }), method: :post,remote: true, class: "ask-friend"  %>

        <%= form_tag friendships_path, remote: true do %>
          <%= hidden_field_tag 'sender_id', current_user.id  %>
          <%= hidden_field_tag 'recipient_id', user.id  %>
          <%= hidden_field_tag 'status', "pending" %>
          <%= submit_tag "Demande D'ami", class: "ask-friend" %>
        <% end -%>
        <%#= link_to 'Amis', { controller: "friendships", action: "create"}, method: :post %>
        <!-- <div class="ask-friend"><%#= link_to "Amis", "/#" %> -->
        <!-- </div> -->
      </div>
    <% end %>
  </div>
</div>




