<div class="container-l">
  <%= form_tag users_path, method: :get do %>
  <%= text_field_tag :requete,
  params[:requete],
  class: "form-control",
    placeholder: "Rechercher des amis"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <div><p>Résultats pour : votre recherche</p></div>

<div class="user-list-index">
    <ul>
      <% @users.each do |user| %>
      <div class="user-card-index"><li><%= user.first_name %> <%= user.last_name  %></li></div>
      <% end %>
    </ul>
  </div>
  </div>
