<%= render "shared/navbar_global" %>
<div class="container-l container-white">

  <div class="search-btn">
  <%= form_tag users_path, method: :get do %>
  <%= text_field_tag :requete,
                      params[:requete],
                      placeholder: "Rechercher des amis",
                      class: "form-control"
    %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary d-none" %>
  <% end %>
  <div class="results-search">
    <h2>Résultats pour : <span>votre recherche</span></h2>
  </div>

  <div class="user-list-index">
    <% @users.each do |user| %>
      <div class="user-card-index">
        <%= link_to user_path(user) do %>
          <%= cl_image_tag user.avatar.key %> <%= user.first_name %>
          <%= user.last_name  %>
          <div class="ask-friend"><%= link_to "Amis", "/#" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




