<%= render "shared/navbar_global" %>
<div class="container-l container-white">

  <div class="search-btn">
    <%= form_tag users_path, method: :get do %>
    <%= text_field_tag :requete,
                      params[:requete],
                      placeholder: "Rechercher des amis",
                      class: "form-control"
    %>
    <%= submit_tag "Search", class: "btn btn-primary d-none" %>
    <% end %>
  </div>
  <div class="results-search">
    <h2>Résultats pour : <span class="nunito"><%#= params[:requete] %></span></h2>
  </div>

  <div class="user-list-index">
    <% @users.each do |user| %>
      <% if user != current_user %>
        <div class="card-amis" data-recipientuser="<%= user.id %>" data-senderuser="<%= current_user.id %>">
          <div style="width:70%">
            <%= link_to user_path(user) do %>
              <div>
                <% if user.avatar.attached? %>
                  <%= cl_image_tag user.avatar.key %>
                <% else %>
                  <%= image_tag "mrlarbin.jpg", alt: "mrlarbine" %>
                <% end %>
              </div>
              <div>
                <span><%= user.first_name %> <%= user.last_name  %></span>
              </div>
            <% end %>
          </div>
          <div class="flex-c-c width-64">
            <% user_fdships = user.friendships.map(&:id) + user.recieved_friendships.map(&:id) %>
            <% commun = (user_fdships & @self_fdships).first %>
            <% if commun.nil? %>
              <%= form_tag friendships_path, remote: true do %>
                <%= hidden_field_tag 'sender_id', current_user.id  %>
                <%= hidden_field_tag 'recipient_id', user.id  %>
                <%= hidden_field_tag 'status', "pending" %>
                <%= submit_tag "Demander en ami", class: "friend-invitation" %>
              <% end -%>
            <% elsif Friendship.find(commun).status == "pending"%>
              <div class="pending">Demande envoyée</div>
            <% elsif Friendship.find(commun).status == "true"%>
              <div class="we-are-friend">Amis</div>
            <% end  %>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>



  <%#= link_to "Demande d'ami", friendships_path(params: { sender_id: current_user.id, recipient_id: user.id, status:"pending" }), method: :post,remote: true, class: "ask-friend"  %>
<!--   Toutes les friendship ou le user 81  y est
 (User.find(81).friendships).map(&:id)+(User.find(81).recieved_friendships).map(&:id) -->

<!-- Friendship.all.where(status: "pending").destroy_all -->
