<%= render "shared/navbar_global" %>
<div class="body"></div>
<div class="container-l">
  <div class="cover-user">
    <%= cl_image_tag @user.cover.key %>
    <div class="avatar-user width-100">
      <div class="flex-c-c width-100">
       <%= cl_image_tag @user.avatar.key %>
      </div>
    </div>
    <div class="text-cover-home flex-b-c">
      <i class="fas fa-camera m-r-10"></i>
      <p class="flex-g-1">Changer la photo de couverture</h2>
    </div>
  </div>
  <div class="name-user">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>

    </div>

  <div class="trait"></div>
  <div class="list-user-profil">
    <ul class="nav nav-tabs flex-b-c" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="stat-tab" data-toggle="tab" href="#stat" role="tab" aria-controls="stat" aria-selected="true">STATISTIQUES</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="true">CALENDRIER</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " id="sessions-tab" data-toggle="tab" href="#sessions" role="tab" aria-controls="sessions" aria-selected="true">SESSIONS FAVORITES</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">AMIS</a>
      </li>
    </ul>
  </div>
  <div class="container-s container-white">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="stat" role="tabpanel" aria-labelledby="stat-tab">
        <h3 class="roboto">Mes statistiques</h3>
        <div class="flex-b-c">
          <div class="stat-card">
            <p>calories brulées</p>
            <div class="stat-card-num ">
              <div class="cercle-violet flex-c-c">
                <%= @kcal %>
              </div>
            </div>
          </div>
          <div class="stat-card">
            <p>sessions realisées</p>
            <div class="stat-card-num ">
              <div class="cercle-violet flex-c-c">
                <%= @sessions_count %>
              </div>
            </div>
          </div>
          <div class="stat-card">
            <p>temps d'activité/mois</p>
            <div class="stat-card-num ">
              <div class="cercle-violet flex-c-c">
                <%= @time %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <div class="container">
          <div class="form-wrapper">
            <h2>Mon calendrier</h2>
          </div>
          <div class="container">
            <div class="form-wrapper">
              <div id="session-form-div" data-sessions="<%= @sessions_dates.to_json %>">
                  <%= simple_form_for [@user, @session] do |f| %>
                  <%= f.input :date, label: "Mes dates d'entrainement:", as: :string, required: false, input_html: { id: "range_start", class: "d-none"} %>
                  <%= f.input :date, label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none" } %>
                  <%# <%= f.button :submit, "Book", class: "btn btn-primary" %>
                  <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="sessions" role="tabpanel" aria-labelledby="sessions-tab">
        Contenu Sessions
      </div>
      <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab">
        Contenu Amis
      </div>
    </div>
  </div>
</div>

