<%= render "shared/navbar_global" %>
<div class="body"></div>
<div class="container-l">
  <div class="cover-user">
    <%= cl_image_tag @user.cover.key %>
    <div class="avatar-user width-100">
      <div class="flex-c-c width-100">
       <%= cl_image_tag @user.avatar.key %>
      </div>
    </div>
    <div class="text-cover-home flex-b-c">
      <i class="fas fa-camera m-r-10"></i>
      <p class="flex-g-1">Changer la photo de couverture</h2>
    </div>
  </div>
  <div class="name-user">
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>

    </div>

  <div class="list-user-profil">
    <ul class="nav nav-tabs flex-b-c" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link <%= "active" unless @param %> " id="stat-tab" data-toggle="tab" href="#stat" role="tab" aria-controls="stat" aria-selected="true">STATISTIQUES</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="true">CALENDRIER</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link <%= "active" if @param %>" id="sessions-tab" data-toggle="tab" href="#sessions" role="tab" aria-controls="sessions" aria-selected="true">SESSIONS FAVORITES</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="true">AMIS</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link <%= "active" if @param %> " id="en_attente_1-tab" data-toggle="tab" href="#en_attente_1" role="tab" aria-controls="en_attente_1" aria-selected="true">EN ATTENTE 1</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link  " id="en_attente_2-tab" data-toggle="tab" href="#en_attente_2" role="tab" aria-controls="en_attente_2" aria-selected="true">EN ATTENTE 2</a>
      </li>
    </ul>
  </div>
  <div class="container-s container-white m-b-40">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade <%= "show active" unless @param %>" id="stat" role="tabpanel" aria-labelledby="stat-tab">
        <h3 class="roboto">Mes statistiques</h3>
        <div class="flex-b-c m-t-20">
          <div class="stat-card">
            <div class="m-t-15">
              <div>
                <i class="fas fa-fire-alt"></i>
                <div class="stat-card-num ">
                  <div class="flex-c-c">
                    <h3><%= @kcal %></h3>
                  </div>
                </div>
                <p>calories brulées/sem.</p>
              </div>
            </div>
          </div>
          <div class="stat-card">
            <div class="m-t-15">
              <div>
                <i class="fas fa-heartbeat"></i>
                <div class="stat-card-num ">
                  <div class="flex-c-c">
                    <h3><%= @sessions_count %></h3>
                  </div>
                </div>
                <p>sessions realisées/sem.</p>
              </div>
            </div>
          </div>
          <div class="stat-card">
            <div class="m-t-15">
              <div>
                <i class="far fa-clock"></i>
                <div class="stat-card-num ">
                  <div class="flex-c-c">
                    <h3><%= @time %> min</h3>
                  </div>
                </div>
                <p>temps d'activité/sem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
        <div class="container" data-controller="show-sessions">
          <div class="form-wrapper">
            <h3 class="roboto">Mon calendrier</h3>
          </div>
          <div class="container-calendrier">
            <div class="form-wrapper">
              <div id="session-form-div" data-sessions="<%= @sessions_dates.to_json %>">
                <%= label_tag :date, "Mes dates d'entrainement" %>
                <%= text_field_tag :date, "", id: "date"%>
              </div>
            </div>
          </div>
          <div class="card-session-show-user" data-target="show-sessions.card"></div>
        </div>
      </div>
      <div class="tab-pane fade <%= "show active" if @param %>" id="sessions" role="tabpanel" aria-labelledby="sessions-tab">
        <h3 class="roboto">Mes sessions favorites</h3>
        <div class="m-t-20">
            <%= render "shared/card_prev_session_show_user", sessions: @sessions%>
        </div>
      </div>
      <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab">
        <div class="flex-b-c flex-wrap deco-none">
          <% @friends.each do |friend| %>
            <div class="card-amis m-t-20">
              <%= link_to user_path(User.find(friend)) do %>
              <div class="flex-b-c">
                <%= cl_image_tag User.find(friend).avatar.key %>
                <div>
                  <p><%= User.find(friend).first_name %></p>
                  <p><%= User.find(friend).last_name  %></p>
                </div>
              </div>
                <div class="ask-friend"><%= link_to "Amis", "/#" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade <%= "show active" if @param %>" id="en_attente_1" role="tabpanel" aria-labelledby="en_attente_1-tab">
        <h3 class="roboto">En Attente 1</h3>
      </div>
      <div class="tab-pane fade" id="en_attente_2" role="tabpanel" aria-labelledby="en_attente_2-tab">
        <h3 class="roboto">En Attente 2</h3>
      </div>

    </div>
  </div>
</div>

