<div class="d-flex flex-wrap flex-row justify-content-between align-items-center">
  <% sessions.each do |session| %>
    <div class="card-prev-session flex-b-c position-relative mr-4">
      <div class="photo">
        <div class="gradiant-white"></div>
      </div>
      <div class="content stretch">
        <div>
          <h4>Type d'exo</h4>
          <p><%= session.total_time%> min | lun 4 aoû</p>
          <div class="flex-b-c width-100">
            <div class="level-bar"></div>
            <div class="level-bar"></div>
            <div class="level-bar"></div>
            <div class="level-bar"></div>
          </div>
        </div>
      </div>
      <div class="flex-g-1 right-part">
        <div class="fav">
          <%= simple_form_for session.session_participants.find_by(user: current_user), remote: true do |f| %>
            <%= f.input :favorite_status, value: true, as: :hidden %>
            <%= f.button :button do %>
               <% if session.session_participants.find_by(user: current_user).favorite_status %>
                <i class="fas fa-heart fullheart" data-uid="<%= session.id  %>" ></i>
               <% else %>
                <i class="far fa-heart" data-uid="<%= session.id  %>" ></i>
               <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="cercle-violet-calendrier">
          <i class="fas fa-play"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
