<div id="navbar_global">
  <%= link_to "WELLBE", root_path  %>
  <div class="icone">
  <%= image_tag "lourd.jpg", class: "photo" %>
    <i class="fas fa-user-friends"></i>
    <i class="fas fa-comments"></i>
    <i class="fas fa-tools"></i>
  </div>
</div>
<div class="trace-gradiant"></div>

<div class="container-l bg-container">
  <h2>SESSION COLLECTIVE</h2>
    <div class="flex-b-c">
      <div class="left-part">
      <h3>Invitez vos amis</h3>
      <div class="flex-b-c cercles">
        <div class="cercle-bleu"></div>
        <div class="cercle-bleu"></div>
        <div class="cercle-bleu"></div>
        <div class="cercle-bleu"></div>
      </div>
      <div class="frinds-container">
        <div>
          <div class="flex-b-c card_invite_session">
           <%= image_tag "lourd.jpg", class: "photo" %>
            <p class="flex-g-1">User Name</p>
            <button class="btn-2">Inviter à rejoindre</button>
          </div>
          <div class="flex-b-c card_invite_session">
            <%= image_tag "lourd.jpg", class: "photo" %>
            <p class="flex-g-1">User Name</p>
            <button class="btn-2">Inviter à rejoindre</button>
          </div>
          <div class="flex-b-c card_invite_session">
            <%= image_tag "lourd.jpg", class: "photo" %>
            <p class="flex-g-1">User Name</p>
            <button class="btn-2">Inviter à rejoindre</button>
          </div>
          <div class="flex-b-c card_invite_session">
            <%= image_tag "lourd.jpg", class: "photo" %>
            <p class="flex-g-1">User Name</p>
            <button class="btn-2">Inviter à rejoindre</button>
          </div>
          <div class="flex-b-c card_invite_session">
            <%= image_tag "lourd.jpg", class: "photo" %>
            <p class="flex-g-1">User Name</p>
            <button class="btn-2">Inviter à rejoindre</button>
          </div>
          <div class="flex-b-c card_invite_session">
            <%= image_tag "lourd.jpg", class: "photo" %>
            <p class="flex-g-1">User Name</p>
            <button class="btn-2">Inviter à rejoindre</button>
          </div>
        </div>
      </div>
      </div>
      <div class="right-part">
        <h3>Renseignez vos objectifs</h3>
        <%= simple_form_for @session do |f| %>
          <%= f.input :time, as: :range %>
                      required: true,label: %>
          <div class="natures-checkbox">
            <%= f.input :difficulty, as: :radio_buttons, label_method: ->(item) {tag.span item, class: "d-none"}, collection: Hession::DIFFICULTY, wrapper: :vertical_collection_inline %>
          </div>
          <div class="body-area-checkbox">
            <%= f.input :body_areas, as: :radio_buttons, label_method: ->(item) {tag.span item, class: "d-none"}, collection: Session::TIME, wrapper: :vertical_collection_inline %>
          </div>
        <% end %>
      </div>
    </div>
  <div class="bottom-part">
    <%= link_to "Commencer", "#", class: "btn-1" %>
    <%= link_to "Annuler", "#", class: "btn-2"  %>
  </div>
</div>
