<!DOCTYPE html>
<html>
  <head>
    <title>Wellbe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if current_page?("/") || current_page?("/sessions/choice") %>
      <div class="min_height_100">
    <% else %>
      <div class="min_height_100 padding-container">
    <% end %>

    <%= yield %>
    
    <%= javascript_pack_tag 'application' %>
    </div>
    <%= render 'shared/flashes' %>

  </body>
</html>
